:root {
  --ion-color-primary: #3e444c; 
  --ion-color-primary-rgb: 62,68,76;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #373c43;
  --ion-color-primary-tint: #51575e;

  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12,209,232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255,206,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245,61,61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-pink: #ff80c0;
  --ion-color-pink-rgb: 255,128,192;
  --ion-color-pink-contrast: #ffffff;
  --ion-color-pink-contrast-rgb: 0,0,0;
  --ion-color-pink-shade: #e071a9;
  --ion-color-pink-tint: #ff8dc6;

  --ion-color-orange: #ff8000;
  --ion-color-orange-rgb: 255,128,0;
  --ion-color-orange-contrast: #ffffff;
  --ion-color-orange-contrast-rgb: 0,0,0;
  --ion-color-orange-shade: #e07100;
  --ion-color-orange-tint: #ff8d1a;

  --ion-color-light-orange: #ffbe7d;
  --ion-color-light-orange-rgb: 255,190,125;
  --ion-color-light-orange-contrast: #ffffff;
  --ion-color-light-orange-contrast-rgb: 0,0,0;
  --ion-color-light-orange-shade: #e0a76e;
  --ion-color-light-orange-tint: #ffc58a;

  --ion-color-light-red: #ff8080;
  --ion-color-light-red-rgb: 255,128,128;
  --ion-color-light-red-contrast: #ffffff;
  --ion-color-light-red-contrast-rgb: 0,0,0;
  --ion-color-light-red-shade: #e07171;
  --ion-color-light-red-tint: #ff8d8d;

  --ion-toolbar-background: #3e444c;
  --ion-toolbar-color: white;

  ion-textarea {
    background-color: #FFFBCE;
    padding: 20px;
    height: 80%;
  }
}


